<!DOCTYPE html>
<html lang="en" ng-app="lessonLocatorApp">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.js"></script>
        <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controllers.js"></script>
        <script src="/js/lessons.js"></script>

        <link rel="stylesheet" type="text/css" href="/styles/base.css">
    </head>

    <body>
        <div ui-view></div>
    </body>

</html>
